.my-bg-dark {
  background-color: #00b5d3 !important;
}

a {
    color: inherit !important;
    text-decoration: underline;
}

.white {
    color: #fff;
}

/* .db {
    display: block !important;
} */

.right {
    left: inherit !important;
    right: 0 !important;
}